<a href="https://colab.research.google.com/github/HYChangTAMU/Financial-Data-Analysis/blob/main/Assignment1/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')
# !git clone https://github.com/HYChangTAMU/Financial-Data-Analysis.git
%cd Financial-Data-Analysis
!pwd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/Financial-Data-Analysis
/content/Financial-Data-Analysis

In [41]:
import pandas as pd

def daily_rtn(x):
  rtn = [None] + [(x["Close"][i+1] - x["Close"][i])/x["Close"][i] for i in range(len(x["Close"]) - 1)]
  return rtn

def p1_data(x):
  x["Daily Rtn"] = daily_rtn(x)
  display(x[["Date", "Close", "Daily Rtn"]])

aapl = pd.read_csv("./Assignment1/Data/1AAPL.csv")
txn = pd.read_csv("./Assignment1/Data/2TXN.csv")
grmn = pd.read_csv("./Assignment1/Data/3GRMN.csv")
hlit = pd.read_csv("./Assignment1/Data/4HLIT.csv")
qmco = pd.read_csv("./Assignment1/Data/5QMCO.csv")

In [42]:
aapl.loc[aapl["Date"] == '2020-08-07']

aapl.loc[4305:4307]

,Date,Open,High,Low,Close,Adj Close,Volume
4305,2020-08-06,110.404999,114.412498,109.797501,113.902496,111.678856,202428800
4306,2020-08-07,113.205002,113.675003,110.292503,111.112503,109.139748,198045600
4307,2020-08-10,112.599998,113.775002,110.000000,112.727501,110.726082,212403600

In [43]:
p1_data(aapl)

            Date       Close  Daily Rtn
0     2003-07-01    0.340893        NaN
1     2003-07-02    0.344107   0.009428
2     2003-07-03    0.341607  -0.007265
3     2003-07-07    0.354821   0.038682
4     2003-07-08    0.364286   0.026675
...          ...         ...        ...
5030  2023-06-26  185.270004  -0.007553
5031  2023-06-27  188.059998   0.015059
5032  2023-06-28  189.250000   0.006328
5033  2023-06-29  189.589996   0.001797
5034  2023-06-30  193.970001   0.023103

[5035 rows x 3 columns]