<a href="https://colab.research.google.com/github/HYChangTAMU/Financial-Data-Analysis/blob/main/Assignment1/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# from google.colab import drive
# drive.mount('/content/drive')
# !rm -r Financial-Data-Analysis
!git clone https://github.com/HYChangTAMU/Financial-Data-Analysis.git
%cd Financial-Data-Analysis
!pwd

Cloning into 'Financial-Data-Analysis'...
remote: Enumerating objects: 72, done.
remote: Counting objects: 100% (72/72), done.
remote: Compressing objects: 100% (71/71), done.
remote: Total 72 (delta 26), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (72/72), 536.40 KiB | 2.11 MiB/s, done.
Resolving deltas: 100% (26/26), done.
/content/Financial-Data-Analysis
/content/Financial-Data-Analysis

In [28]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 50)


# defining years
y03 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2003-07-01', end = '2004-07-01')]
y04 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2004-07-01', end = '2005-07-01')]
y05 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2005-07-01', end = '2006-06-30')]
y06 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2006-06-30', end = '2007-06-29')]
y07 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2007-06-29', end = '2008-07-01')]
y08 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2008-07-01', end = '2009-07-01')]
y09 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2009-07-01', end = '2010-07-01')]
y10 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2010-07-01', end = '2011-07-01')]
y11 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2011-07-01', end = '2012-06-29')]
y12 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2012-06-29', end = '2013-07-01')]
y13 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2013-07-01', end = '2014-07-01')]
y14 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2014-07-01', end = '2015-07-01')]
y15 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2015-07-01', end = '2016-07-01')]
y16 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2016-07-01', end = '2017-06-30')]
y17 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2017-06-30', end = '2018-06-29')]
y18 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2018-06-29', end = '2019-07-01')]
y19 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2019-07-01', end = '2020-07-01')]
y20 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2020-07-01', end = '2021-07-01')]
y21 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2021-07-01', end = '2022-07-01')]
y22 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2022-07-01', end = '2023-06-30')]

yrs_array = [y03, y04, y05, y06, y07, y08, y09, y10, y11, y12, y13, y14, y15, y16, y17, y18, y19, y20, y21, y22]
yrs_date = [y03[0], y04[0], y05[0], y06[0], y07[0], y08[0], y09[0], y10[0], y11[0], y12[0], y13[0], y14[0], y15[0], y16[0], y17[0], y18[0], y19[0], y20[0], y21[0], y22[0], y22[-1]]


# setup the dataframes
# AAPL, TXN, and GRMN have historical dividends
# HLIT and QMCO did not pay dividend, so their dividends column are all NaN
aapl_day = pd.merge(pd.read_csv("./Assignment1/Data/1AAPL.csv"), pd.read_csv("./Assignment1/Data/1AAPL_div.csv"), on = "Date", how = "outer")
txn_day = pd.merge(pd.read_csv("./Assignment1/Data/2TXN.csv"), pd.read_csv("./Assignment1/Data/2TXN_div.csv"), on = "Date", how = "outer")
grmn_day = pd.merge(pd.read_csv("./Assignment1/Data/3GRMN.csv"), pd.read_csv("./Assignment1/Data/3GRMN_div.csv"), on = "Date", how = "outer")
hlit_day = pd.read_csv("./Assignment1/Data/4HLIT.csv")
hlit_day["Dividends"] = np.nan
qmco_day = pd.read_csv("./Assignment1/Data/5QMCO.csv")
qmco_day["Dividends"] = np.nan


# calculate daily return including dividends
def daily_rtn(x):
  rtn = [None] + [(x["Dividends"][i+1] + x["Close"][i+1] - x["Close"][i])/x["Close"][i] if not pd.isna(x["Dividends"][i+1]) else (x["Close"][i+1] - x["Close"][i])/x["Close"][i]for i in range(len(x["Close"]) - 1)]
  return rtn


# show data with daily return
def day_data(x):
  x["Daily Rtn"] = daily_rtn(x)
  display(x[["Date", "Close", "Dividends", "Daily Rtn"]])


# calculate yearly dividends
def yearly_dividends(x):
  pass


# calculate yearly return
def yearly_rtn(x):
  rtn = [None] + []


#


yrs_list = [2003 + i for i in range(21)]
yrs_series = pd.Series(yrs_list)

In [16]:
day_data(aapl_day)

            Date       Close  Dividends  Daily Rtn
0     2003-07-01    0.340893        NaN        NaN
1     2003-07-02    0.344107        NaN   0.009428
2     2003-07-03    0.341607        NaN  -0.007265
3     2003-07-07    0.354821        NaN   0.038682
4     2003-07-08    0.364286        NaN   0.026675
...          ...         ...        ...        ...
5030  2023-06-26  185.270004        NaN  -0.007553
5031  2023-06-27  188.059998        NaN   0.015059
5032  2023-06-28  189.250000        NaN   0.006328
5033  2023-06-29  189.589996        NaN   0.001797
5034  2023-06-30  193.970001        NaN   0.023103

[5035 rows x 4 columns]

In [17]:
aapl_day[4619:4623][["Date", "Close", "Dividends", "Daily Rtn"]]

            Date       Close  Dividends  Daily Rtn
4619  2021-11-03  151.490005        NaN   0.009799
4620  2021-11-04  150.960007        NaN  -0.003499
4621  2021-11-05  151.279999       0.22   0.003577
4622  2021-11-08  150.440002        NaN  -0.005553

In [18]:
aapl_day[4619:4623]["Dividends"].sum()

0.22

In [19]:
aapl_day.loc[aapl_day["Date"].isin(y22)]["Dividends"].sum()

0.9299999999999999

In [31]:
aapl_yr = aapl_day.loc[aapl_day["Date"].isin(yrs_date)]

In [32]:
aapl_yr.set_index([yrs_series])

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends
2003,2003-07-01,0.336964,0.342500,0.330536,0.340893,0.289349,180992000,NaN
2004,2004-07-01,0.573214,0.580000,0.569643,0.576786,0.489574,341941600,NaN
2005,2005-07-01,1.315357,1.320357,1.296071,1.303571,1.106467,250000800,NaN
2006,2006-06-30,2.056786,2.062500,2.017857,2.045357,1.736092,739695600,NaN
2007,2007-06-29,4.356071,4.428571,4.324643,4.358571,3.699540,1137841600,NaN
2008,2008-07-01,5.865357,6.240000,5.857143,6.238571,5.295277,1111280800,NaN
2009,2009-07-01,5.125000,5.166429,5.090000,5.101071,4.329771,414178800,NaN
2010,2010-07-01,9.082143,9.100000,8.686429,8.874286,7.532464,1022896000,NaN
2011,2011-07-01,11.998214,12.267857,11.935714,12.259286,10.405640,435313200,NaN
2012,2012-06-29,20.642857,20.857143,20.508928,20.857143,17.703472,421500800,NaN
2013,2013-07-01,14.381786,14.723929,14.329286,14.615000,12.671588,391053600,NaN
2014,2014-07-01,23.379999,23.517500,23.282499,23.379999,20.762228,152892000,NaN
2015,2015-07-01,31.725000,31.735001,31.497499,31.650000,28.599474,120955200,NaN
2016,2016-07-01,23.872499,24.117500,23.832500,23.972500,22.105503,104106000,NaN
2017,2017-06-30,36.112499,36.240002,35.945000,36.005001,33.836708,92096400,NaN
2018,2018-06-29,46.572498,46.797501,45.727501,46.277500,44.166622,90950800,NaN
2019,2019-07-01,50.792500,51.122501,50.162498,50.387501,48.821167,109012000,NaN
2020,2020-07-01,91.279999,91.839996,90.977501,91.027496,89.250420,110737200,NaN
2021,2021-07-01,136.600006,137.330002,135.759995,137.270004,135.497086,52485800,NaN
2022,2022-07-01,136.039993,139.039993,135.660004,138.929993,137.919098,71051600,NaN
2023,2023-06-30,191.630005,194.479996,191.259995,193.970001,193.708420,85069600,NaN

In [26]:
yrs_series

0     2003
1     2004
2     2005
3     2006
4     2007
5     2008
6     2009
7     2010
8     2011
9     2012
10    2013
11    2014
12    2015
13    2016
14    2017
15    2018
16    2019
17    2020
18    2021
19    2022
20    2023
dtype: int64

In [36]:
aapl_day.loc[aapl_day["Date"].isin(yrs_date)][["Date", "Dividends", "Close"]]

            Date  Dividends       Close
0     2003-07-01        NaN    0.340893
252   2004-07-01        NaN    0.576786
505   2005-07-01        NaN    1.303571
756   2006-06-30        NaN    2.045357
1006  2007-06-29        NaN    4.358571
1259  2008-07-01        NaN    6.238571
1511  2009-07-01        NaN    5.101071
1763  2010-07-01        NaN    8.874286
2016  2011-07-01        NaN   12.259286
2267  2012-06-29        NaN   20.857143
2517  2013-07-01        NaN   14.615000
2769  2014-07-01        NaN   23.379999
3021  2015-07-01        NaN   31.650000
3274  2016-07-01        NaN   23.972500
3525  2017-06-30        NaN   36.005001
3776  2018-06-29        NaN   46.277500
4027  2019-07-01        NaN   50.387501
4280  2020-07-01        NaN   91.027496
4532  2021-07-01        NaN  137.270004
4784  2022-07-01        NaN  138.929993
5034  2023-06-30        NaN  193.970001