<a href="https://colab.research.google.com/github/HYChangTAMU/Financial-Data-Analysis/blob/main/Assignment1/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# from google.colab import drive
# drive.mount('/content/drive')
# !rm -r Financial-Data-Analysis
!git clone https://github.com/HYChangTAMU/Financial-Data-Analysis.git
%cd Financial-Data-Analysis
!pwd

Cloning into 'Financial-Data-Analysis'...
remote: Enumerating objects: 76, done.
remote: Counting objects: 100% (76/76), done.
remote: Compressing objects: 100% (75/75), done.
remote: Total 76 (delta 28), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (76/76), 541.08 KiB | 4.62 MiB/s, done.
Resolving deltas: 100% (28/28), done.
/content/Financial-Data-Analysis
/content/Financial-Data-Analysis

In [151]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 50)


# defining years (Assuming that we always trade on July 01. If )
y03 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2003-07-01', end = '2004-07-01')]
y04 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2004-07-01', end = '2005-07-01')]
y05 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2005-07-01', end = '2006-06-30')]
y06 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2006-06-30', end = '2007-06-29')]
y07 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2007-06-29', end = '2008-07-01')]
y08 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2008-07-01', end = '2009-07-01')]
y09 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2009-07-01', end = '2010-07-01')]
y10 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2010-07-01', end = '2011-07-01')]
y11 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2011-07-01', end = '2012-06-29')]
y12 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2012-06-29', end = '2013-07-01')]
y13 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2013-07-01', end = '2014-07-01')]
y14 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2014-07-01', end = '2015-07-01')]
y15 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2015-07-01', end = '2016-07-01')]
y16 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2016-07-01', end = '2017-06-30')]
y17 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2017-06-30', end = '2018-06-29')]
y18 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2018-06-29', end = '2019-07-01')]
y19 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2019-07-01', end = '2020-07-01')]
y20 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2020-07-01', end = '2021-07-01')]
y21 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2021-07-01', end = '2022-07-01')]
y22 = [d.strftime('%Y-%m-%d') for d in pd.date_range(start = '2022-07-01', end = '2023-06-30')]

yrs_date = [y03[0], y04[0], y05[0], y06[0], y07[0], y08[0], y09[0], y10[0], y11[0], y12[0], y13[0], y14[0], y15[0], y16[0], y17[0], y18[0], y19[0], y20[0], y21[0], y22[0], y22[-1]]


# setup the dataframes
# AAPL, TXN, and GRMN have historical dividends
# HLIT and QMCO did not pay dividend, so their dividends column are all NaN
aapl_day = pd.merge(pd.read_csv("./Assignment1/Data/1AAPL.csv"), pd.read_csv("./Assignment1/Data/1AAPL_div.csv"), on = "Date", how = "outer")
txn_day = pd.merge(pd.read_csv("./Assignment1/Data/2TXN.csv"), pd.read_csv("./Assignment1/Data/2TXN_div.csv"), on = "Date", how = "outer")
grmn_day = pd.merge(pd.read_csv("./Assignment1/Data/3GRMN.csv"), pd.read_csv("./Assignment1/Data/3GRMN_div.csv"), on = "Date", how = "outer")
hlit_day = pd.read_csv("./Assignment1/Data/4HLIT.csv")
hlit_day["Dividends"] = np.nan
qmco_day = pd.read_csv("./Assignment1/Data/5QMCO.csv")
qmco_day["Dividends"] = np.nan


# calculate daily return including dividends
def daily_rtn(x):
  rtn = [None] + [(x["Dividends"][i+1] + x["Close"][i+1] - x["Close"][i])/x["Close"][i] if not pd.isna(x["Dividends"][i+1]) else (x["Close"][i+1] - x["Close"][i])/x["Close"][i] for i in range(len(x["Close"]) - 1)]
  return rtn


# show data with daily return
def daily_data(x):
  x["Daily Rtn"] = daily_rtn(x)
  display(x[["Date", "Close", "Dividends", "Daily Rtn"]])


# calculate yearly dividends
def yearly_dividends(x):
  global yrs_array
  yrs_array = [y03, y04, y05, y06, y07, y08, y09, y10, y11, y12, y13, y14, y15, y16, y17, y18, y19, y20, y21, y22]
  div = [0.0] + [x.loc[x["Date"].isin(i)]["Dividends"].sum() for i in yrs_array]
  return div


# calculate yearly return
def yearly_rtn(x):
  rtn = [None] + [(x["Dividends"][i+1] + x["Close"][i+1] - x["Close"][i])/x["Close"][i] for i in yrs_list[:-1:]]
  return rtn


# show data with yearly return
def year_data(x):
  y = x.loc[x["Date"].isin(yrs_date)][["Date", "Close"]]
  y["Dividends"] = yearly_dividends(x)
  global yrs_list
  yrs_list = [2003 + i for i in range(21)]
  yrs_series = pd.Series(yrs_list)
  y = y.set_index([yrs_series])
  y["Yearly Rtn"] = yearly_rtn(y)
  return y

In [115]:
daily_data(aapl_day)

            Date       Close  Dividends  Daily Rtn
0     2003-07-01    0.340893        NaN        NaN
1     2003-07-02    0.344107        NaN   0.009428
2     2003-07-03    0.341607        NaN  -0.007265
3     2003-07-07    0.354821        NaN   0.038682
4     2003-07-08    0.364286        NaN   0.026675
...          ...         ...        ...        ...
5030  2023-06-26  185.270004        NaN  -0.007553
5031  2023-06-27  188.059998        NaN   0.015059
5032  2023-06-28  189.250000        NaN   0.006328
5033  2023-06-29  189.589996        NaN   0.001797
5034  2023-06-30  193.970001        NaN   0.023103

[5035 rows x 4 columns]

In [153]:
aapl_yr = year_data(aapl_day)
aapl_yr

            Date       Close  Dividends  Yearly Rtn
2003  2003-07-01    0.340893   0.000000         NaN
2004  2004-07-01    0.576786   0.000000    0.691985
2005  2005-07-01    1.303571   0.000000    1.260060
2006  2006-06-30    2.045357   0.000000    0.569042
2007  2007-06-29    4.358571   0.000000    1.130959
2008  2008-07-01    6.238571   0.000000    0.431334
2009  2009-07-01    5.101071   0.000000   -0.182333
2010  2010-07-01    8.874286   0.000000    0.739691
2011  2011-07-01   12.259286   0.000000    0.381439
2012  2012-06-29   20.857143   0.000000    0.701334
2013  2013-07-01   14.615000   0.392858   -0.280445
2014  2014-07-01   23.379999   0.444287    0.630126
2015  2015-07-01   31.650000   0.482500    0.374358
2016  2016-07-01   23.972500   0.532500   -0.225750
2017  2017-06-30   36.005001   0.585000    0.526332
2018  2018-06-29   46.277500   0.655000    0.303499
2019  2019-07-01   50.387501   0.740000    0.104803
2020  2020-07-01   91.027496   0.782500    0.822079
2021  2021-07-01  137.270004   0.835000    0.517179
2022  2022-07-01  138.929993   0.890000    0.018576
2023  2023-06-30  193.970001   0.930000    0.402865